body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#menu {
    background-color: #021c1e;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    min-width: 15vw;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #021c1e;
    min-height: 110px;
}

.logoImg {
    height: 70px;
}

.barlinks {
    font-family: 'Roboto', sans-serif;;
    font-size: 1.3em;
    color: lightgray;
    text-decoration: none;
}

#menuItem1, #menuItem2, #menuItem3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#menuItem1 {

}
#menuItem2 {

}
#menuItem3{

}

#menuItem1:hover {background-color: #004445; }
#menuItem2:hover {background-color: #004445; }
#menuItem3:hover {background-color: #004445; }
#menuItem1:focus, .active {background-color: #004445; }
#menuItem2:focus, .active {background-color: #004445; }
#menuItem3:focus, .active {background-color: #004445; }

article {
    background-color: #C9DAEA;
    width: 100vw;
}

.barcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.settingsTab {
    padding: 20px;
    width: 15vw;
    height: 100vh;
    background-color: #9CB6D0;
    border-right: solid #9CB6D0 5px;
}

.contentTab {
    font-family: 'Roboto', sans-serif;;
    color: black;
    font-size: 1.3em;
}

.title {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;;
}

.contentTitle {
    margin:0;
    margin-bottom: 20px;
}

#areaStatistik {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#settingsStatistik {

}

#contentStatistik {
    height: 100%;
    padding: 20px;
}

#areaFiles {
    flex-direction: row;
}

#settingsFiles {}

.tablinks {
    font-family: 'Roboto', sans-serif;;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.settingsContentItems {
    display: none;
    flex-direction: column;
}

#filesSettingsItem1, #filesSettingsItem2, #filesSettingsItem3 {

}

#filesSettingsItem1:hover {background-color: #2c7873; }
#filesSettingsItem2:hover {background-color: #2c7873; }
#filesSettingsItem3:hover {background-color: #2c7873; }
#filesSettingsItem1:focus, .activeTab {border-bottom: solid #2c7873 4px; }
#filesSettingsItem2:focus, .activeTab {border-bottom: solid #2c7873 4px; }
#filesSettingsItem3:focus, .activeTab {border-bottom: solid #2c7873 4px; }

#contentFiles {
    height: 100vh;
    padding: 20px;
}

#contentAreaUpload {
    display: flex;
}

#areaUser {
    flex-direction: row;
}

#settingsUser {
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Roboto', sans-serif;;
}

#logOut {
    padding-left: 5px;
    margin-bottom: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logOut:hover {background-color: #2c7873; }

#logOutText {
    margin: auto;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

#contentUser {
    height: 100vh;
    padding: 20px;
}

