<html>
  <head>
    <meta charset="utf-8" />
    <title>nBe Login Test</title>
    <link rel="stylesheet" type="text/css" href="/css/login_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="/js/login_page.js"></script>
  </head>
  <body>
    <nav class="navBar">
      <img src="/png/nbe_logo.png" class="logo">
      <div class="menuItem1">
        <p class="welcomeMsg">Välkommen <%= session[:user]%>!</p>
      </div>
      <div class="menuItem2">
        <a href="logout" class="logout-button" method="get" action="<%= params["user"]%>">Logga ut</a>
      </div>
    </nav>

    <article>
      <div class="sideBar">
        <div id="barItem1" class="barlinks active" onclick="openTab(event, 'areaStatistik')">
          <a href="javascript:void(0)" class="barlinks" onclick="openTab(event, 'barItem1')">Statistik</a>
        </div>
        <div id="barItem2" class="barlinks" onclick="openTab(event, 'area2')">
          <a href="javascript:void(0)" class="barlinks" onclick="openTab(event, 'barItem2')">Filer</a>
        </div>
        <div id="barItem3" class="barlinks" onclick="openTab(event, 'area3')">
          <a href="javascript:void(0)" class="barlinks" onclick="openTab(event, 'barItem3')">Bar Item 3</a>
        </div>
        <div id="barItem4" class="barlinks" onclick="openTab(event, 'area4')">
          <a href="javascript:void(0)" class="barlinks" onclick="openTab(event, 'barItem4')">Bar Item 4</a>
        </div>
      </div>

      <div class="area">

        <div id="areaStatistik" class="tabcontent">
          <h2 class="title">Statistik</h2>
        </div>
        <div id="area2" class="tabcontent">
          <h2 class="title">Filer</h2>

          <form id="upload_form" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="fileinput" name="fileInput" />
            <input type="submit" id="uploadButton" />
          </form>

          <%
            require 'find'
            def getFiles()
              directory = []
              Find.find("database/files/private/" + session[:user]) do |path|
                directory << path
              end

              files = Array.new
              dirs = Array.new
              directory.each() do |obj|
                if !File.directory?(obj) && File.file?(obj)
                  p "Adding file: " + obj
                  files << obj
                elsif File.directory?(obj) && !File.file?(obj)
                  p "Adding dir: " + obj
                  dirs << obj
                end
              end
              return files
            end
          %>
          <script>
              files = <%= getFiles()%>;
              var body = document.getElementById("area2");
              listDiv = document.createElement('div');
              listDiv.id = 'listDiv';
              body.appendChild(listDiv);

              list = document.createElement('ul');
              listDiv.appendChild(list);

              for (i = 0; i < files.length; i++) {
                  listItem = document.createElement('li');
                  list.appendChild(listItem);
                  dwnldLink = document.createElement('a');
                  dwnldLink.setAttribute("href", "/download/" + files[i].substring(files[i].lastIndexOf("/") + 1));
                  dwnldLink.textContent = files[i].substring(files[i].lastIndexOf("/") + 1);
                  listItem.appendChild(dwnldLink);
              }

          </script>
        </div>

        <div id="area3" class="tabcontent">
          <h2 class="title">Bar Page 3</h2>
        </div>

        <div id="area4" class="tabcontent">
          <h2 class="title">Bar Page 4</h2>
        </div>
      </div>
    </article>
  </body>
</html>