<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>nBe Login Test v2</title>
    <link rel="stylesheet" type="text/css" href="/css/login_page2.css">
    <script src="/js/login_page.js"></script>
  </head>
  <body>
    <div id="menu">
      <div class="logo">
        <img src="/png/nbe_logo.png" class="logoImg">
      </div>
      <div id="menuItem1" class="barlinks active" onclick="openTab(event, 'areaStatistik')">
        <a href="javascript:void(0)" class="barlinks" onclick="openTab(event, 'menuItem1')">Statistik</a>
      </div>
      <div id="menuItem2" class="barlinks" onclick="openTab(event, 'area2')">
        <a href="javascript:void(0)" class="barlinks" onclick="openTab(event, 'menuItem2')">Filer</a>
      </div>
      <div id="menuItem3" class="barlinks" onclick="openTab(event, 'area3')">
        <a href="javascript:void(0)" class="barlinks" onclick="openTab(event, 'menuItem3')">Bar Item 3</a>
      </div>
      <div id="menuItem4" class="barlinks" onclick="openTab(event, 'area4')">
        <a href="javascript:void(0)" class="barlinks" onclick="openTab(event, 'menuItem4')">Bar Item 4</a>
      </div>
    </div>
    <article>
      <div id="settingsMenu">

      </div>
      <div id="contentArea">

      </div>
    </article>
  </body>
</html>