<html>
<head>
  <meta charset="utf-8" />
  <title>nBe Login Test</title>
  <link rel="stylesheet" type="text/css" href="/css/login_page.css">
</head>
  <body>
    <p>Välkommen <%= params["user"]%>!</p>
    <p>Ditt lösenord är: <%= params["password"]%></p>
  </body>
</html>