<!doctype html> <html>
<head>
  <meta charset="utf-8" />
  <title>nBe Login Test</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div class="loginBox" action="/omg" method="get">
  <h3 class="title">nBe Admin Page</h3>

  <form class="form">

    <input type="text" name="password"> <br>

    <input type="submit" value="Logga in" class="loginButton">

  </form>
</div>
</body>
</html>